{% extends 'base.html' %}

{% block content %}
<div class="accueil_authentication">
    <!-- <p>{{ message }}</p> -->
    <div class="authentication">
        <h2>Accéder à votre </br>espace famille</h2>
        <form method="post">
            {{ login_form.as_p }}
            {% csrf_token %}
            <button type="submit" >Connexion</button>
        </form>
    </div>
    <div class="authentication">
        <h2>Nouvelle famille ? </br>Incrivez-vous ici</h2>
        <form method="post">
            {{ registration_form.as_p }}
            {% csrf_token %}
            <button type="submit" >Inscription</button>
        </form>
    </div>
</div>
{% endblock content %}