{% extends 'base.html' %}
{% block content %}
    <p>Vous êtes connecté {{ request.session.member|default:"user"}}!</p>
    <p>La liste de vos cadeaux : </p>
    <ul>
        {% for my_present in my_presents %}
        <li><a href="{% url 'present-detail' my_present.id %}">{{my_present.name}}</a></li>
        {% endfor %}
    </ul>
    <p>Les cadeaux des membres de votre famille : </p>
    <ul>
        {% for family_member in family_members %}
            <h3>{{family_member}}</h3>
                {% for present in family_presents %}
                    {% if present.member == family_member %}
                    <li><a href="{% url 'present-detail' present.id %}">{{present.name}}</a></li>
                    {% endif %}
                {% endfor %}
        {% endfor %}
    </ul>
{% endblock content %}