{% extends 'base.html' %}
{% block content %}
<script>
    function openPopup() {
        let popup = document.getElementById('creation_popup')
        let overlay = document.getElementById('overlay')
        popup.style.display = 'block'
        overlay.style.display = 'block'
    }

    function closePopup() {
        let popup = document.getElementById('creation_popup')
        let overlay = document.getElementById('overlay')
        popup.style.display = 'none'
        overlay.style.display = 'none'
    }
</script>

<div class="home_page">
    <div class="my_presents">
        <div class="my_presents_content">
            <div class="header_member">
                <img src="../../authentication/static/member.svg"/>
                <p class="id_member">{{ request.session.member|default:"user"}}</p>
            </div>
            <div class="line"></div>
            <h3>Ma liste de Noël : </h3>
            <ul>
                {% for my_present in my_presents %}
                <li><a href="{% url 'present-detail' my_present.id %}">{{my_present.name}}</a></li>
                {% endfor %}
            </ul>
            <a class="yellow_button">
                <div onclick="openPopup()">
                    <img src="../../authentication/static/gift.svg"/>
                    <p>Ajouter un cadeau à ma liste</p>
                </div>
            </a>
        </div>
    </div>
    <div class="family_presents">
        <div class="family_presents_content">
            <h4 class="id_family">Famille {{family_name}}</h4>
            <div class="family_presents_content_center">
                {% for family_member in family_members %}
                <div class="family_member">
                    <div class="header_family">
                        <img src="../../authentication/static/family.svg"/>
                        <h3>{{family_member}}</h3>
                    </div>
                    {% for present in family_presents %}
                    <ul>
                        {% if present.member == family_member %}
                        <div class="a_present_preview">
                            <li><a href="{% url 'present-detail' present.id %}">{{present.name}}</a></li>
                            {% if present.is_reserved %}
                                <div class="is_booked_preview">
                                    <p>R</p>
                                </div>
                            {% endif %}
                        </div>
                        {% endif %}
                    </ul>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="right_home">
        <div>
            <p>J -&nbsp</p>
            <p>{{timelaps.days}} jours</p>
        </div>
        <div class="shopping_list">
            <a href="{% url 'shopping-list' request.session.member_id %}">
                <h3>Ma liste </br>de courses</h3>
                <img src="../../authentication/static/cart.svg"/>
            </a>
        </div>
        <div>
            <p>lundi 25 </br>décembre</p>
        </div>
    </div>
</div>
<div id="overlay" onclick="closePopup()" style="display: none;"></div>
<div id="creation_popup" style="display: none;">
    <button onclick="closePopup()" class="close_button">X</button>
    {% include 'create_present_form.html' %}
</div>
{% endblock content %}