{% extends 'base.html' %}

{% block content %}
    <script>
        function openPopup() {
            let popup = document.getElementById('popup')
            let background_popup = document.getElementById('background_popup')
            popup.style.display = 'block'
            background_popup.style.display = 'block'
        }

        function closePopup() {
            let popup = document.getElementById('popup')
            let background_popup = document.getElementById('background_popup')
            popup.style.display = 'none'
            background_popup.style.display = 'none'
        }

        function openConfirm() {
            let popup = document.getElementById('confirm')
            let background_popup = document.getElementById('background_popup')
            popup.style.display = 'block'
            background_popup.style.display = 'block'

        }

        function closeConfirm() {
            let popup = document.getElementById('confirm')
            let background_popup = document.getElementById('background_popup')
            popup.style.display = 'none'
            background_popup.style.display = 'none'
        }
    </script>

    <div class="single_present">
        {% if is_mine == True %}
            <p class="single_present_title">Pour moi ...</p>
        {% else %}
            <p class="single_present_title">Pour {{member}} ...</p>
        {% endif %}
        <div class="gift_presentation">
            <img src="../../authentication/static/gift-light.svg"/>
            <p>{{present.name}}</p>
        </div>
        <div class="gift_presentation">
            <img src="../../authentication/static/at.svg"/>
            <a href="{{present.link}}" target="_blank">{{present.link}}</a>
        </div>
        <div class="gift_presentation">
            <img src="../../authentication/static/euro.svg"/>
            <p>{{present.price}}</p>
        </div>

        {% if is_mine == False %}
            {% if is_booked != True %}
            <div class="book">
                <img src="../../authentication/static/santa.svg"/>
                <a href="{% url 'purchase-present' present.id member_id %}"><p>Je réserve ce cadeau</p></a>                    
            </div>
            {% else %}
            <div class="booked">
                <p>Réservé</p>
            </div>
            {% endif %}

        {% elif is_mine == True %}
        <div class="button_modify_my_present">
            <button onclick="openPopup()" class="modify_my_present">
                <img src="../../authentication/static/pencil.svg"/>
                Modifier le cadeau
            </button>
            <button onclick="openConfirm()" class="modify_my_present">
                <img src="../../authentication/static/trash.svg"/>
                Supprimer le cadeau
            </button>
        </div>
            <div id="background_popup" style="display: none;"></div>
            <div id="popup" style="display: none;">
                <button onclick="closePopup()" class="close_button">X</button>
                {% include 'modify_present_form.html' %}
            </div>

            <div id="confirm" style="display: none;">
                <div class="present_form">
                    <p class="modify_present_title">Je supprime un cadeau de ma liste</p>
                    <p class="confirm_text">Etes-vous sûr de vouloir supprimer {{present.name}} ?</p>
                    <div class="confirm_bottom">
                        <div class="modify_my_present confirm_delete">
                            <a href="{% url 'delete-present' present.id member_id %}">
                                <div>
                                    <img src="../../authentication/static/trash.svg"/>
                                    Oui
                                </div>
                            </a>
                        </div>
                        <button onclick="closeConfirm()" class="modify_my_present">
                            <img src="../../authentication/static/gift.svg"/>
                            Non
                        </button>
                    </div>
                </div>
            </div>

        {% endif %}
    </div>

{% endblock content %}
