{% extends 'base.html' %}

{% block content %}
    <script>
        function openPopup() {
            let popup = document.getElementById('popup')
            popup.style.display = 'block'
        }

        function closePopup() {
            let popup = document.getElementById('popup')
            popup.style.display = 'none'
        }

        function openConfirm() {
            let popup = document.getElementById('confirm')
            popup.style.display = 'block'
        }

        function closeConfirm() {
            let popup = document.getElementById('confirm')
            popup.style.display = 'none'
        }
    </script>

    <div class="single_present">
        <p>Mon cadeau de rêve : {{present.name}}</p>
        <p>Voici où le trouver : {{present.link}}</p>
        <p>Gamme de prix {{present.price}}</p>

        {% if is_mine == False %}
            {% if is_booked != True %}
                <a href="{% url 'purchase-present' present.id member_id %}"><p>Je réserve ce cadeau !</p></a>                    
            {% else %}
                <p>Réservé</p>
            {% endif %}

        {% elif is_mine == True %}
            <button onclick="openPopup()">Modifier le cadeau</button>
            <button onclick="openConfirm()">Supprimer le cadeau</button>

            <div id="popup" style="display: none; background-color: red;">
                <p>contenu du cadeau {{present.name}}</p>
                {% include 'modify_present_form.html' %}
                <button onclick="closePopup()">Fermer</button>
            </div>

            <div id="confirm" style="display: none; background-color: green;">
                <p>Etes vous sûr de vouloir supprimer le cadeau suivant : {{present.name}} ?</p>
                <a href="{% url 'delete-present' present.id member_id %}">OUI</a>
                <button onclick="closeConfirm()">Non</button>
            </div>

        {% endif %}


        <p><a href="/home/{{member_id}}">Retour à la liste de cadeaux</a></p>
    </div>

{% endblock content %}
