{% load static %}

<html>
    <head>
        <title>FamilySantaSync</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&display=swap" rel="stylesheet">
        <link rel="shortcut icon" type="favicon/png" href="../../authentication/static/gift.svg">
    </head>
    <body>
        <h1>FamilySantaSync</h1>
        {% if request.path != '/'%}
            <div class="circle">
                {% if 'home' not in request.path%}
                    <div>
                        <a href="{% url 'home' request.session.member_id %}"><img src="../../authentication/static/home.svg"/></a>
                    </div>
                {% endif %}
                <div>
                    <a href="{% url 'identification' %}"><img src="../../authentication/static/logout.svg"/></a>
                </div>
            </div>
        {% endif %}
        {% block content %}{% endblock content %}
    </body>
</html>