body {
    background-image: url('./christmas_tree.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: #daa520;
    font-family: 'Clicker Script', cursive;
    font-size: 140px;
    text-align: center;
    margin: 50px auto;
}

p {
    font-family: 'Abel', sans-serif;
    color: #040D12;
    font-size: 30px;
}

/******************************* Page d'authentification *****************************/

.accueil_authentication {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}

.authentication {
    background-color: #93B1A6;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    padding: 50px;
}

.authentication h2 {
    color: #183D3D;
    font-family: 'Clicker Script', cursive;
    font-size: 50px;
    text-align: center;
}

.authentication form {
    text-align: center;
}

.authentication input {
    background-color: #93B1A6;
    border: solid 1px #183D3D;
    font-size: 20px;
    padding: 2px 5px;
    font-family: 'Abel', sans-serif;
    color: #040D12;
}

.authentication button {
    background-color: #183D3D;
    color: #93B1A6;
    border: solid 1px #183D3D;
    border-radius: 5px;
    font-size: 30px;
    padding: 5px;
    margin-top: 40px;
    width: 150px;
    font-family: 'Abel', sans-serif;
}

