body {
    background-image: url('./christmas_tree.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: #daa520;
    font-family: 'Clicker Script', cursive;
    font-size: 140px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

p {
    font-family: 'Abel', sans-serif;
    color: #040D12;
    font-size: 30px;
}

/******************************* authentication.html *****************************/

.accueil_authentication {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}

.authentication {
    background-color: #93B1A6;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    padding: 50px;
}

.authentication h2 {
    color: #183D3D;
    font-family: 'Clicker Script', cursive;
    font-size: 50px;
    text-align: center;
}

.authentication form {
    text-align: center;
}

.authentication input {
    background-color: #93B1A6;
    border: solid 1px #183D3D;
    font-size: 20px;
    padding: 2px 5px;
    font-family: 'Abel', sans-serif;
    color: #040D12;
}

.authentication button {
    background-color: #183D3D;
    color: #93B1A6;
    border: solid 1px #183D3D;
    border-radius: 5px;
    font-size: 30px;
    padding: 5px;
    margin-top: 40px;
    width: 150px;
    font-family: 'Abel', sans-serif;
    cursor: pointer;
}

/******************************* base.html *****************************/

body {
    padding-bottom: 80px;
    position:relative;
}

.circle {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.circle div {
    background-color: #daa520;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    justify-content: center;
    margin-right: 20px;
}

.circle div img {
    width: 50px;
    height: 50px;
    margin-top: 25px;
    cursor: pointer;
}

/******************************* home.html *****************************/

.home_page {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: 50px;
    margin: -50px 50px;
}

/*******************my_present part******************/

.my_presents {
    background-color: #93B1A6;
    border-radius: 200px 200px 0 0;
    width: 400px;
    min-height: max-content;
    position: relative;
    padding-bottom: 110px;
}

.my_presents_content {
    margin: 100px 30px 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my_presents_content img {
    width: 50px;
    height: 50px;
}

.my_presents_content .header_member {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
}

.my_presents_content .id_member{
    color: #183D3D;
    font-family: 'Clicker Script', cursive;
    font-size: 70px;
    text-align: center;
    margin-bottom: 50px;
}

.my_presents_content .line {
    border-bottom: solid 1px #183D3D;
    width: 100%;
    height: 1px;
}

.my_presents_content h3 {
    color: #183D3D;
    font-family: 'Abel', sans-serif;
    font-size: 30px;
}

.my_presents_content ul {
    list-style-type: circle;
    margin: 0;
}

.my_presents_content ul li {
    margin-bottom: 10px;
    text-align: left;
}

.my_presents_content ul li a {
    font-family: 'Abel', sans-serif;
    color: #183D3D;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

.yellow_button {
    color: #183D3D;
    position: absolute;
    bottom: 30px;
    cursor: pointer;
    margin: 0 30px;

}

.yellow_button div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    background-color: #daa520;
    border-radius: 5px;
    padding: 10px;
}

.yellow_button img {
    width: 20px;
    height: 20px;
}

.yellow_button p {
    font-family: 'Abel', sans-serif;
    color: #183D3D;
    font-size: 20px;
    margin: 0;
}

/***********modale de creation du cadeau**********/

#creation_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
    padding: 50px;
    background-color: #183D3D;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.close_button {
    background-color: #183D3D;
    color: #daa520;
    border: none;
    font-size: 20px;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

/*******************partie centrale******************/

.family_presents {
    background-color: #183D3D;
    border-radius: 10px;
    width:60%;
    margin-top: 80px;
}

.family_presents_content .id_family {
    color: #93B1A6;
    font-family: 'Clicker Script', cursive;
    font-size: 70px;
    text-align: center;
    margin: 50px 0;
}

.family_presents_content_center {
    margin: 0 30px;
    padding-top: 30px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: solid 1px #93B1A6;
}

.family_presents_content .family_member {
    color: #93B1A6;
    font-family: 'Abel', sans-serif;
    font-size: 25px;
    text-align: center;
    width: 45%;
    height: max-content;
    margin-bottom: 30px;
    background-color: rgb(48, 81, 81);
    box-shadow: 5px 5px 7px rgba(4,13,18,.4);
}

.family_presents_content .family_member:nth-child(even) {
    transform:rotate(4deg);
    position:relative;
    top:5px;
  }

  .family_presents_content .family_member:nth-child(3n) {
    transform:rotate(-3deg);
    position:relative;
    top:-5px;
  }

  .family_presents_content .family_member:nth-child(5n) {
    transform:rotate(5deg);
    position:relative;
    top:-10px;
  }

.family_presents_content .family_member .header_family {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
}

.family_presents_content .family_member .header_family h3 {
    color: #93B1A6;
    font-family: 'Abel', sans-serif;
    font-size: 30px;
}

.family_presents_content .family_member img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

.family_presents_content .family_member ul{
    list-style-type: circle;
    margin: 0;
}

.family_presents_content .family_member ul li {
    margin-bottom: 10px;
    text-align: left;
}

.family_presents_content .family_member ul li a {
    font-family: 'Abel', sans-serif;
    color: #93B1A6;
    font-size: 20px;
    text-decoration: none;
    /* text-decoration: line-through; */
    cursor: pointer;
}

/*******************partie de droite******************/

.right_home {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.right_home div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #93B1A6;
    border-radius: 50%;
    width: 280px;
    height: 280px;
}

.right_home p {
    color: #183D3D;
    font-family: 'Clicker Script', cursive;
    font-size: 50px;
    text-align: center;
}

.shopping_list {
    background-color: #daa520 !important;
}

.shopping_list a {
    text-align: center;
    color: #183D3D;
    font-family: 'Abel', sans-serif;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}

.shopping_list {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.shopping_list img {
    width: 50px;
    height: 50px;
}

/******************************* present_detail.html *****************************/

.single_present {
    background-color: white;
}

/******************************* shopping_list.html *****************************/

.my_shopping_list {
    background-color: white;
}

.a_gift {
    display: flex;
    flex-direction: row;
    background-color: #93B1A6;
    margin-bottom: 10px;
}

/******************************* create_present_form.html *****************************/
.present_form form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.present_form input {
    background-color: rgb(48, 81, 81);
    width: 100%;
    font-size: 30px;
    color: #93B1A6;
    font-family: 'Abel', sans-serif;
    border: none;
}

.present_form label {
    font-size: 30px;
    color: #93B1A6;
    font-family: 'Abel', sans-serif;
}

.present_form select {
    background-color: rgb(48, 81, 81);
    width: 50%;
    font-size: 30px;
    color: #93B1A6;
    font-family: 'Abel', sans-serif;
    margin-top: 10px;
}

.add_present_title {
    color: #93B1A6;
    font-family: 'Clicker Script', cursive;
    font-size: 70px;
    text-align: center;
    padding: 0 0 50px 0;
    border-bottom: solid 1px #93B1A6;
}

.add_present_button {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: #daa520;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Abel', sans-serif;
    color: #183D3D;
    font-size: 20px;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.add_present_button img {
    width: 20px;
    height: 20px;
}
